.DS_Store
*/.DS_Store
**/.DS_Store
__pycache__/
.ipynb_checkpoints/
*.log
*.tmp
.vscode/
.idea/
*.swp
*.pt
*.pth
*.ckpt
saved_weights/*.pt
saved_weights/*.pth
saved_weights/*.ckpt
!saved_weights/README.md
!*/README.md